<h2>В нашей библиотеке появилась новая книга</h2>
<p>Дорогой {{ book.getUser().getEmail() }},</p>
<p>Мы рады сообщить вам, что мы добавили новую книгу на наш веб-сайт</p>
<ul>
    <li>Низвание: {{ book.getTitle() }}</li>
    <li>Описание: {{ book.getShortDescription() }}</li>
</ul>
<p>купи ее!</p>