{% extends "layouts/main.html.twig" %}

{% block content %}

    <h1>Книги в категории "{{ category.title }}"</h1>

    {% if books is empty %}
        <p>Нет книг в данной категории.</p>
    {% else %}
        <ul>
            {% for book in books %}
                <li><a href="{{ path('book_show', {'id': book.id}) }}">{{ book.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="{{ path('book_index') }}">Назад к списку</a>

{% endblock %}





