{% extends "layouts/main.html.twig" %}

{% block content %}

    <h1>Свяжитесь с нами</h1>

    {% if message_sent is defined and message_sent %}
        <div class="alert alert-success">
            Ваше сообщение отправлено!
        </div>
    {% endif %}

    <form method="POST">

        <div class="form-group">
            <label for="source_url">Тема:</label>
            <input class="w-100 mt-2" type="text" name="theme">
        </div>

        <div class="form-group">
            <label for="source_url">Сообщение:</label>
            <input class="w-100 mt-2" type="text" name="message">
        </div>

        <button type="submit" class="btn btn-primary">Отправить</button>

    </form>

{% endblock %}